<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FORM</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
    <header class="header">
        <a href="index.html" class="logo">
            Daystar <span>Daycare</span>
          </a>
            <i class="fa-solid fa-bars" id="menu-icon"></i>
        <!-- <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#testimonials">Gallery</a>
        </nav> -->
    </header>
    <div class="container">
        <form>
            <p>Welcome</p>
            <input type="email" placeholder="Email"><br>
            <input type="password" placeholder="Password"><br>
            <input type="button" value="LOGIN"><br>
        </form>
        <div class="drops">
            <div class="drop drop-1"></div>
            <div class="drop drop-2"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div>
        </div>
    </div>
    <script src="../javascript/login.js"></script>
</body>
</html>
